<link rel="stylesheet" href="~/css/signUpForm.css" />
<body>
    <div class="wrapperr">
        <div class="containerr">
            <div class="sign-up-container">
                <form class="forma" method="post" action="~/SignInSignUpForm/SignUpForm">
                    <h1>Create Account</h1>
                    <span>or use your email for registration</span>
                    <input class="in" type="text" placeholder="Name" name="Username">
                    <input class="in" type="email" placeholder="Email" name="Email">
                    <input class="in" type="password" placeholder="Password" name="Password">
                    <input class="in" type="password" placeholder="Confirm password" name="ConfirmPassword">
                    <button class="buton form_btn">Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay-left">
                    <h1>Welcome Back</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button id="signIn" class="buton overlay_btn" onclick="redirectToSignInFormPage()">Sign In</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/signUp.js"></script>
</body>