<link rel="stylesheet" href="~/css/signInForm.css" />
<body>
    <div class="wrapperr">
        <div class="containerr">
            <div class="sign-in-container">
                <form class="forma" method="post" action="~/SignInSignUpForm/SignInForm">
                    <h1 class="signH1">Sign In</h1>
                    <input class="in" type="email" placeholder="Email" name="email" required>
                    <input class="in" type="password" placeholder="Password" name="password" required>
                    <button class="form_btn buton">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay-right">
                    <h1>Hello, Friend</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button id="signUp" class="buton overlay_btn" onclick="redirectToSignUpFormPage()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/js/signIn.js"></script>*@
    <script>
        function redirectToSignUpFormPage() {
            window.location.href = '/SignInSignUpForm/SignUpForm';
        }
    </script>
</body>