.btn-outline-pink {
    color: #4B4B75;
    background-color: transparent;
    border-color: #4B4B75;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

    .btn-outline-pink:hover {
        color: #FFFFFF;
        background-color: #4B4B75;
        border-color: #4B4B75;
    }

.page-link {
    color: #4B4B75;
    background-color: transparent;
    border-color: #4B4B75;
}

    .page-link:hover {
        color: #FFFFFF;
        background-color: #4B4B75;
        border-color: #4B4B75;
    }

.page-item.active .page-link {
    color: #FFFFFF;
    background-color: #4B4B75;
    border-color: #4B4B75;
}

body {
    background-color: #F0F0F0;
    font-family: Montserrat;
}

.pink-card {
    background-color: rgba(27, 27, 69, 0.6);
    color: white;
    border-color: #4B4B75;
    margin-bottom: 20px;
    max-width: 100%;
}

    .pink-card:hover {
        background-color: #4B4B75;
    }

.d-flex-container {
    display: flex;
}

.col-md-3 {
    flex: 0 0 200px;
    margin-right: 20px;
}

.text-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-item:hover {
    color: #4B4B75;
    /*background-color: #FF1493;*/
    border-color: #4B4B75;
}
